<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <h3 class="d-block mx-auto my-4 text-center">Catalogue Products</h3>
    <div class="d-block mx-auto mb-5 text-center w-75">
        <%- include('../partials/dataTable'); %>
    </div>
    <br>
    <% if (admin) { %>
        <h3 class="d-block mx-auto my-4 text-center">Load your Products - Admin</h3>
        <%- include('../partials/formulario'); %>
        <br>
    <% } %>
    <%- include('../partials/footer'); %>

<!--    scripts     -->
<script type="text/javascript" src="/index.js"></script>
</body>

</html>