<div class="row row-cols-1">
    <div class="col-12 w-100 mx-auto">
            <div class="row row-cols-2 g-4">

                <% for (i=0; i< getAllProducts.length; i++) { %>
                    <div class="col">
                        <div class="card shadow h-100" style="max-width: 560px;">
                            <div class="row g-0">
                                <div class="col-md-4 my-auto">
                                    <img src='<%= getAllProducts[i].picture %>' class="img-fluid rounded-center"
                                        alt="Image Product">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body border-start border-dark">
                                        <h5 class="card-title">
                                            <%= getAllProducts[i].name %>
                                        </h5>
                                        <ul class="list-group">
                                            <li class="list-group-item border-0">Description: <%= getAllProducts[i].description %></li>
                                            <li class="list-group-item border-0">Price $<strong> <%= getAllProducts[i].price %></strong></li>
                                            <li class="list-group-item border-0">Code: <strong> <%= getAllProducts[i].code %></strong></li>   
                                        </ul>
                                        <p class="card-text"><small class="text-muted">Stock <%= getAllProducts[i].stock
                                                    %>
                                            </small></p>
                                        <a href="/api/productos/<%=getAllProducts[i].id %>" class="btn btn-success btn-sm">See
                                            Product <i class="fa fa-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }; %>
            </div>
        
    </div>
</div>