<% if ( getProductById !==undefined && admin) { %>
    <div class="container-fluid w-75 mx-auto">
        <div class="col-12">
            <div class="card shadow" style="max-width: 1040px;">
                <div class="row g-0">
                    <div class="col-md-4 my-auto">
                        <img src='<%= getProductById.picture %>' class="img-fluid rounded-center" alt="Image Product" width="250px" height="190px">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body border-start border-dark">
                            <h5 class="card-title">
                                <%= getProductById.name %>
                            </h5>
                            <ul class="list-group">
                                <li class="list-group-item border-0">Description: <%= getProductById.description %>
                                </li>
                                <li class="list-group-item border-0">Price $<strong>
                                        <%= getProductById.price %>
                                    </strong></li>
                                <li class="list-group-item border-0">Code: <strong>
                                        <%= getProductById.code %>
                                    </strong></li>
                                <li class="list-group-item border-0">Id# <strong>
                                        <%= getProductById.id %>
                                    </strong></li>
                            </ul>
                            <p class="card-text"><small class="text-muted">Stock <%= getProductById.stock %>
                                </small></p>
                            <!-- <button type="button" class="btn btn-danger btn-sm mx-3" id="btnDelete">Delete <i class="fa fa-trash"></i></button> -->
                            <a href="/api/productos/" class="btn btn-primary btn-sm ms-3">Go Back <i class="fa fa-rotate-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid w-75 mx-auto">
            <%- include('../partials/formularioUpdate'); %>
        </div>
    </div>

    <% } else { %>
        <div class="container-fluid w-75 mx-auto">
            <div class="col-12">
                <div class="card shadow" style="max-width: 1040px;">
                    <div class="row g-0">
                        <div class="col-md-4 my-auto">
                            <img src='<%= getProductById.picture %>' class="img-fluid rounded-center"
                                alt="Image Product">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body border-start border-dark">
                                <h5 class="card-title">
                                    <%=getProductById.name %>
                                </h5>
                                <ul class="list-group">
                                    <li class="list-group-item border-0">Description: <%= getProductById.description %>
                                    </li>
                                    <li class="list-group-item border-0">Price $<strong>
                                            <%= getProductById.price %>
                                        </strong></li>
                                    <li class="list-group-item border-0">Code: <strong>
                                            <%= getProductById.code %>
                                        </strong></li>
                                    <li class="list-group-item border-0">Id# <strong>
                                        <%= getProductById.id %>
                                    </strong></li>    
                                </ul>
                                <p class="card-text"><small class="text-muted">Stock <%= getProductById.stock %>
                                    </small></p>
                                <a href="/api/productos/" class="btn btn-success btn-sm mx-3">Add to Cart</a>
                                <a href="/api/productos/" class="btn btn-primary btn-sm ms-3">Go Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>