<div class="container-fluid w-75 mx-auto">
       
    <% if ( productDeleted !== undefined && productDeleted !== {} ) { %>
        <div class="col-12">
            <div class="card shadow" style="max-width: 1040px;">
                <div class="row g-0">
                    <div class="col-md-4 my-auto">
                        <img src='<%= productDeleted.picture %>' class="img-fluid rounded-center"
                            alt="Image Product">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body border-start border-dark">
                            <h5 class="card-title"> Product #id <%=productDeleted.id %> - <%=productDeleted.name %> Deleted succesfully!</h5>
                            <ul class="list-group">
                                <li class="list-group-item border-0">Description: <%= productDeleted.description %></li>
                                <li class="list-group-item border-0">Price $<strong> <%= productDeleted.price %></strong></li>
                                <li class="list-group-item border-0">Code:<strong> <%= productDeleted.code %></strong></li>   
                            </ul>
                            <p class="card-text"><small class="text-muted">Stock <%= productDeleted.stock %>
                                </small></p>
                            <p class="card-text"><small class="text-muted">Date <%= productDeleted.timestamp %>
                                </small></p>    
                            <a href="/api/productos" class="btn btn-primary btn-sm ms-3">See Catalogue</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% }; %>
</div>